nb-list-item {
    display: grid;
    grid-template-areas:
        "title"
        "summary";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.title {
    grid-area: title;
}

.summary {
    grid-area: summary;
}
